.Lesson1{
    width: 150px;
    height: 100px;
    background: linear-gradient(yellow,yellowgreen);
    display: inline-block;
}
.Lesson2{
    width: 150px;
    height: 100px;
    background: linear-gradient(yellow,yellowgreen);
    display: inline-block;
}
.Lesson21{
    width: 150px;
    height: 100px;
    background: linear-gradient(yellow,yellowgreen);
    display: inline-block;
}
.Lesson3{
    width: 150px;
    height: 100px;
    background: linear-gradient(yellow,yellowgreen);
    display: inline-block;
}
.Lesson31{
    width: 150px;
    height: 100px;
    background: linear-gradient(yellow,yellowgreen);
    display: inline-block;
}
.Lesson4{
    width: 150px;
    height: 100px;
    background: linear-gradient(yellow,yellowgreen);
    display: inline-block;
}
.Lesson6{
    width: 150px;
    height: 100px;
    background: linear-gradient(yellow,yellowgreen);
    display: inline-block;
}